/* Обнулення */
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
// calc(10px + (25 - 10) * ((100vw - 320px) / (2560 - 320)))
// font-family: 'Hammersmith One', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;
/* header ================================================================================== */
.header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	padding: 0 calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
	z-index: 1000;
	transition: 0.1s;
	.header__logo {
		display: flex;
		align-items: center;
		a {
			display: flex;
			align-items: center;
			font-family: 'Roboto', sans-serif;
			font-size: 1.875rem;
			font-weight: 300;
			white-space: nowrap;
			color: transparent;
			background-clip: text;
			background-image: linear-gradient(90.0deg, #00e0d0 0%, #4aa3cc 100%);
			img {
				margin: 0 10px 0 0;
			}
		}
		a:hover {
			filter: hue-rotate(180deg);
		}
	}
	.header__menu {
		display: flex;
		align-items: center;
		a {
			padding: calc(5px + (10 - 5) * ((100vw - 320px) / (2560 - 320))) calc(5px + (12.5 - 5) * ((100vw - 320px) / (2560 - 320)));
			font-family: 'Roboto', sans-serif;
			font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (2560 - 320)));
			font-weight: 900;
			letter-spacing: 0.025em;
			white-space: nowrap;
			text-transform: uppercase;
			color: #fff;
		}
		a:hover {
			color: #00e0d0;
		}
	}
	.header__menu-burger {
		display: none;
	}
}
.header.scroll {
	opacity: 1;
	background: linear-gradient(to left, #311f57, #0f0b2f);
}
/* first ================================================================================== */
.first {
	background: url(../img/background1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	.first-slider {
		height: 100vh;
		min-height: 650px;
		background: linear-gradient(to left,  rgba($color: #311f57, $alpha: 0.85), rgba($color: #0f0b2f, $alpha: 0.85));
		.first__wrapper {
			.first__slide {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0 calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
				.first__text {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					max-width: 775px;
					text-align: center;
					p:nth-child(1) {
						font-family: 'Playfair Display', serif;
						font-size: calc(32px + (36 - 32) * ((100vw - 320px) / (2560 - 320)));
						font-weight: 900;
						letter-spacing: 0.01em;
						color: #fff;
					}
					p:nth-child(3) {
						font-family: 'Roboto', sans-serif;
						font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
						line-height: 1.5em;
						font-weight: 300;
						letter-spacing: 0.05em;
						color: #fff;
					}
					span {
						width: 50px;
						height: 1px;
						margin: 20px 0 30px 0;
						background-color: #00e0d0;
					}
				}
				.first__button {
					margin: 50px 0 0 0;
				}
			}
		}
		// крапки навігації
		.first__pagination {
			bottom: 70px;
			.swiper-pagination-bullet {
				width: 15px;
				height: 15px;
				background: 0;
				border: 2px solid #fff;
			}
			.swiper-pagination-bullet-active {
				background: #00e0d0;
				border: 2px solid rgba($color: #000, $alpha: 0);
			}
		}
	}
}
/* second ================================================================================== */
.second {
	display: flex;
	padding: calc(30px + (70 - 30) * ((100vw - 320px) / (2560 - 320))) calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
	.second__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 0 1 50%;
		.second__img {
			display: flex;
			justify-content: center;
			img {
				flex: 0 1 50%;
			}
		}
		.second__text {
			p:nth-child(1) {
				font-family: 'Playfair Display', serif;
				font-size: calc(22px + (26 - 22) * ((100vw - 320px) / (2560 - 320)));
				line-height: 1.2;
				font-weight: 700;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #413d4b;
			}
			p:nth-child(2) {
				margin: calc(10px + (30 - 10) * ((100vw - 320px) / (2560 - 320))) 0;
				font-family: 'Roboto', sans-serif;
				font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
				line-height: 1.375em;
				font-weight: 300;
				letter-spacing: 0.03em;
				color: rgba($color: #000, $alpha: 0.75);
			}
			p:nth-child(3) {
				font-family: 'Roboto', sans-serif;
				font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
				line-height: 1.375em;
				font-weight: 300;
				letter-spacing: 0.03em;
				color: rgba($color: #000, $alpha: 0.75);
			}
		}
		.second__button {
			a {
				margin: calc(10px + (30 - 10) * ((100vw - 320px) / (2560 - 320))) 0 0 0;
			}
		}
	}
}
/* second ================================================================================== */
.third {
	background: url(../img/background2.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	.third__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: calc(30px + (200 - 30) * ((100vw - 320px) / (2560 - 320))) calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
		background: linear-gradient(to left,  rgba($color: #311f57, $alpha: 0.85), rgba($color: #0f0b2f, $alpha: 0.85));
		.third__play {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: calc(20px + (28 - 20) * ((100vw - 320px) / (2560 - 320))) calc(20px + (28 - 20) * ((100vw - 320px) / (2560 - 320))) calc(20px + (28 - 20) * ((100vw - 320px) / (2560 - 320))) calc(27px + (35 - 27) * ((100vw - 320px) / (2560 - 320)));
			border-radius: 50%;
			opacity: 0.6;
			transition: 0.3s;
			border: 3px solid #fff;
			img {
				height: calc(30px + (45 - 30) * ((100vw - 320px) / (2560 - 320)));
			}
		}
		.third__play:hover {
			cursor: pointer;
			opacity: 1;
		}
		.third__text {
			margin: calc(15px + (35 - 15) * ((100vw - 320px) / (2560 - 320))) 0 0 0;
			p {
				font-family: 'Roboto', sans-serif;
				font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
				line-height: 1.2;
				font-weight: 700;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #fff;
			}
		}
	}
}
/* fourth ================================================================================== */
.fourth {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: calc(20px + (80 - 20) * ((100vw - 320px) / (2560 - 320))) calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
	text-align: center;
	.fourth__text {
		padding: 0 0 calc(10px + (85 - 10) * ((100vw - 320px) / (2560 - 320))) 0;
		p:nth-child(1) {
			font-family: 'Playfair Display', serif;
			font-size: calc(22px + (26 - 22) * ((100vw - 320px) / (2560 - 320)));
			line-height: 1.2;
			font-weight: 700;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #413d4b;
		}
		p:nth-child(2) {
			margin: 15px 0 calc(10px + (18 - 10) * ((100vw - 320px) / (2560 - 320))) 0;
			font-family: 'Playfair Display', serif;
			font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
			line-height: 1.2;
			font-weight: 400;
			letter-spacing: 0.075em;
			color: rgba($color: #000, $alpha: 0.75);
		}
		span {
			display: inline-block;
			width: 50px;
			height: 2px;
			background: rgba($color: #000, $alpha: 0.3);
		}
	}
	.fourth__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.fourth__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 0 1 33.333%;
			padding: 0 5px calc(10px + (75 - 10) * ((100vw - 320px) / (2560 - 320))) 5px;
			.fourth__item {
				max-width: 355px;
				.fourth__img {
					img {
						height: calc(40px + (60 - 40) * ((100vw - 320px) / (2560 - 320)));
					}
				}
				.fourth__description {
					p:nth-child(1) {
						margin: calc(15px + (35 - 15) * ((100vw - 320px) / (2560 - 320))) 0 15px 0;
						font-family: 'Roboto', sans-serif;
						font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
						line-height: 1.2;
						font-weight: 900;
						letter-spacing: 0.05em;
						text-transform: uppercase;
						color: #413d4b;
					}
					p:nth-child(2) {
						font-family: 'Roboto', sans-serif;
						font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
						line-height: 1.222em;
						font-weight: 300;
						letter-spacing: 0.05em;
						color: rgba($color: #000, $alpha: 0.75);
					}
				}
			}
		}
	}
}
/* fifth ================================================================================== */
.fifth {
	background: url(../img/background1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	.fifth__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: calc(20px + (70 - 20) * ((100vw - 320px) / (2560 - 320))) calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
		text-align: center;
		background: linear-gradient(to left,  rgba($color: #311f57, $alpha: 0.85), rgba($color: #0f0b2f, $alpha: 0.85));
		.fifth__text {
			p:nth-child(1) {
				font-family: 'Playfair Display', serif;
				font-size: calc(22px + (26 - 22) * ((100vw - 320px) / (2560 - 320)));
				line-height: 1.2;
				font-weight: 700;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #fff;
			}
			p:nth-child(2) {
				margin: 15px 0 calc(10px + (18 - 10) * ((100vw - 320px) / (2560 - 320))) 0;
				font-family: 'Playfair Display', serif;
				font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
				line-height: 1.2;
				font-weight: 400;
				letter-spacing: 0.075em;
				color: rgba($color: #fff, $alpha: 0.75);
			}
			span {
				display: inline-block;
				width: 50px;
				height: 2px;
				background: rgba($color: #fff, $alpha: 0.2);
			}
		}
		.fifth__items {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			padding: calc(10px + (50 - 10) * ((100vw - 320px) / (2560 - 320))) 0 calc(20px + (60 - 20) * ((100vw - 320px) / (2560 - 320))) 0;
			.fifth__item-wrapper {
				flex: 0 1 25%;
				padding: calc(5px + (10 - 5) * ((100vw - 320px) / (2560 - 320)));
				.fifth__item {
					.fifth__img {
						width: 100%;
						height: calc(140px + (420 - 140) * ((100vw - 320px) / (2560 - 320)));
						background: rgba($color: #fff, $alpha: 0.85);
					}
					.fifth__description {
						padding: 0 10px calc(10px + (30 - 10) * ((100vw - 320px) / (2560 - 320))) 10px;
						border: 1px solid rgba($color: #fff, $alpha: 0.45);
						p:nth-child(1) {
							margin: 20px 0 5px 0;
							font-family: 'Roboto', sans-serif;
							font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
							line-height: 1.2;
							font-weight: 700;
							letter-spacing: 0.05em;
							text-transform: uppercase;
							color: rgba($color: #fff, $alpha: 0.85);
						}
						p:nth-child(2) {
							font-family: 'Roboto', sans-serif;
							font-size: calc(13px + (17 - 13) * ((100vw - 320px) / (2560 - 320)));
							line-height: 1.2;
							font-weight: 100;
							text-transform: uppercase;
							color: rgba($color: #fff, $alpha: 0.6);
						}
					}
				}
			}
		}
		.fifth__button {
			p {
				margin: 0 0 25px 0;
				font-family: 'Roboto', sans-serif;
				font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
				line-height: 1.2;
				font-weight: 300;
				letter-spacing: 0.05em;
				color: #f3f3f3;
			}
		}
	}
}
/* sixth ================================================================================== */
.sixth {
	width: 100%;
	.sixth__text {
		display: flex;
		justify-content: space-between;
		padding: calc(20px + (70 - 20) * ((100vw - 320px) / (2560 - 320))) calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
		p {
			margin: 0 10px 0 0;
			font-family: 'Playfair Display', serif;
			font-size: calc(22px + (26 - 22) * ((100vw - 320px) / (2560 - 320)));
			line-height: 1.2;
			font-weight: 700;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #413d4b;
		}
		a {
			position: relative;
			display: flex;
			align-items: center;
			font-family: 'Roboto', sans-serif;
			font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
			line-height: 1.2;
			font-weight: 300;
			letter-spacing: 0.05em;
			color: rgba($color: #000, $alpha: 0.5);
			img {
				width: 8px;
				height: 13px;
				margin: 0 0 0 10px;
				opacity: 0.5;
				transition: 0.3s;
			}
		}
		a:before {
			content: '';
			position: absolute;
			bottom: 0px;
			left: -5%;
			width: 0;
			height: 1px;
			transition: 0.3s;
			background: rgba($color: #000, $alpha: 0.2);
		}
		a:hover {
			color: #000;
			img {
				opacity: 1;
			}
		}
		a:hover:before {
			width: 110%;
			background: #000;
		}
	}
	.sixth__items {
		display: flex;
		flex-wrap: wrap;
		.sixth__wrapper {
			display: flex;
			flex-wrap: wrap;
			flex: 1 1 33.333%;
			min-width: 400px;
			.sixth__item {
				flex: 0 1 50%;
				height: 200px;
				background: #b6b6b6;
			}
			.sixth__item:nth-child(2) {
				background: #acacac;
			}
			.sixth__item:nth-child(3) {
				background: #a1a1a1;
			}
		}
	}
	.sixth__button {
		display: flex;
		justify-content: center;
		padding: calc(20px + (70 - 20) * ((100vw - 320px) / (2560 - 320))) calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
	}
}
/* seventh ================================================================================== */
.seventh {
	background: url(../img/background4.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	.seventh__wrapper {
		padding: calc(20px + (70 - 20) * ((100vw - 320px) / (2560 - 320))) 0;
		background: linear-gradient(to left,  rgba($color: #311f57, $alpha: 0.85), rgba($color: #0f0b2f, $alpha: 0.85));
		.seventh-slider {
			.seventh__wrapper-slider {
				.seventh__slide {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding: 0 calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
					.seventh__text {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						max-width: 775px;
						text-align: center;
						p:nth-child(1) {
							font-family: 'Playfair Display', serif;
							font-size: calc(70px + (100 - 70) * ((100vw - 320px) / (2560 - 320)));
							font-weight: 400;
							letter-spacing: 0.03em;
							color: rgba($color: #fff, $alpha: 0.9);
						}
						p:nth-child(2) {
							margin: 0 0 calc(20px + (50 - 20) * ((100vw - 320px) / (2560 - 320))) 0;
							font-family: 'Playfair Display', serif;
							font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (2560 - 320)));
							line-height: 1.3em;
							font-weight: 400;
							letter-spacing: 0.025em;
							color: rgba($color: #fff, $alpha: 0.85);
						}
						p:nth-child(3) {
							font-family: 'Roboto', sans-serif;
							font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
							line-height: 1.222em;
							font-weight: 900;
							letter-spacing: 0.05em;
							text-transform: uppercase;
							color: #fff;
						}
						p:nth-child(4) {
							font-family: 'Roboto', sans-serif;
							font-size: calc(13px + (17 - 13) * ((100vw - 320px) / (2560 - 320)));
							line-height: 1.29em;
							font-weight: 300;
							text-transform: uppercase;
							color: rgba($color: #fff, $alpha: 0.7);
						}
					}
				}
			}
		}
		.seventh__mini-slider {
			max-width: 480px;
			margin: calc(20px + (45 - 20) * ((100vw - 320px) / (2560 - 320))) auto 0 auto;
			.seventh__mini-wrapper {
				.seventh__mini-slide {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 10px 0;
					.seventh__img {
						img {
							width: 45px;
							height: 45px;
							transition: 0.3s;
						}
					}
				}
				.swiper-slide-thumb-active {
					.seventh__img {
						img {
							transform: scale(1.5);
						}
					}
				}
				.seventh__mini-slide:hover {
					cursor: pointer;
				}
			}
			.seventh__button-prev {
				left: 0px;
			}
			.seventh__button-next {
				right: 0px;
			}
			.seventh__button-prev:after, .seventh__button-next:after {
				transition: 0.2s;
				font-size: 26px;
				color: rgba($color: #fff, $alpha: 0.5);
			}
			.seventh__button-prev:hover:after, .seventh__button-next:hover:after {
				color: rgba($color: #fff, $alpha: 1);
			}
		}
	}
}
/* ninth ================================================================================== */
.eighth {
	display: flex;
	width: 100%;
	padding: calc(20px + (70 - 20) * ((100vw - 320px) / (2560 - 320))) calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
	.eighth__left {
		flex: 0 1 50%;
		padding: 0 calc(10px + (50 - 10) * ((100vw - 320px) / (2560 - 320))) 0 0;
		.eighth__text {
			margin: 0 0 10px 0;
			p {
				font-family: 'Playfair Display', serif;
				font-size: calc(22px + (26 - 22) * ((100vw - 320px) / (2560 - 320)));
				line-height: 1.2;
				font-weight: 700;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #413d4b;
			}
		}
		.eighth__form {
			display: flex;
			flex-direction: column;
			input, textarea {
				margin: calc(10px + (20 - 10) * ((100vw - 320px) / (2560 - 320))) 0 0 0;
				padding: 15px 20px;
				font-family: 'Roboto', sans-serif;
				font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
				line-height: 1.2;
				font-weight: 300;
				letter-spacing: 0.05em;
				border: 1px solid rgba($color: #000, $alpha: 0.1)
			}
			textarea {
				height: 200px;
				resize: none;
			}
			input:hover, input:focus, textarea:hover, textarea:focus {
				border: 1px solid rgba($color: #000, $alpha: 0.5)
			}
			input::placeholder, textarea::placeholder {
				font-family: 'Roboto', sans-serif;
				font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
				line-height: 1.2;
				font-weight: 300;
				letter-spacing: 0.05em;
				color: rgba($color: #000, $alpha: 0.5);
			}
			button {
				margin: calc(10px + (20 - 10) * ((100vw - 320px) / (2560 - 320))) 0 0 0;
				padding: 12px 30px;
				font-family: 'Hammersmith One';
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
				color: #00e0d0;
				border: 1px solid #00e0d0;
				background: #fff;
			}
			button:hover {
				color: #000;
				background: #00e0d0;
			}
		}
	}
	.eighth__right {
		flex: 0 1 50%;
		padding: 0 0 0 calc(10px + (50 - 10) * ((100vw - 320px) / (2560 - 320)));
		.eighth__text {
			margin: 0 0 10px 0;
			p {
				font-family: 'Playfair Display', serif;
				font-size: calc(22px + (26 - 22) * ((100vw - 320px) / (2560 - 320)));
				line-height: 1.2;
				font-weight: 700;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #413d4b;
			}
		}
		.eighth__companies {
			display: flex;
			flex-wrap: wrap;
			.eighth__company {
				flex: 0 1 50%;
				padding: calc(20px + (30 - 20) * ((100vw - 320px) / (2560 - 320))) 10px;
				opacity: 0.5;
				text-align: center;
				img {
					max-width: 100%;
				}
			}
			.eighth__company:hover {
				opacity: 1;
			}
		}
	}
}
/* footer ================================================================================== */
.footer {
	background: url(../img/background5.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	.footer__wrapper {
		padding: calc(20px + (70 - 20) * ((100vw - 320px) / (2560 - 320))) calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
		background: linear-gradient(to left,  rgba($color: #311f57, $alpha: 0.85), rgba($color: #0f0b2f, $alpha: 0.85));
		.footer__items {
			display: flex;
			.footer__item-wrapper {
				flex: 0 1 33.333%;
				.footer__item {
					display: flex;
					flex-direction: column;
					padding: 0 10px;
					.footer__title {
						margin: 0 0 20px 0;
						a {
							display: inline-flex;
							align-items: center;
							font-family: 'Roboto', sans-serif;
							font-size: 1.875rem;
							font-weight: 300;
							white-space: nowrap;
							color: transparent;
							background-clip: text;
							background-image: linear-gradient(90.0deg, #00e0d0 0%, #4aa3cc 100%);
							img {
								margin: 0 10px 0 0;
							}
						}
						a:hover {
							filter: hue-rotate(180deg);
						}
						p {
							font-family: 'Roboto', sans-serif;
							font-size: calc(15px + (19 - 15) * ((100vw - 320px) / (2560 - 320)));
							line-height: 1.7em;
							font-weight: 900;
							letter-spacing: 0.05em;
							text-transform: uppercase;
							color: #fff;
						}
					}
					.footer__text {
						p, a {
							font-family: 'Roboto', sans-serif;
							font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
							line-height: 1.85em;
							font-weight: 300;
							letter-spacing: 0.025em;
							color: #fff;
						}
						a {
							display: flex;
							align-items: flex-start;
							margin: 0 0 20px 0;
							img {
								margin: 0 15px 0 0;
							}
						}
						a:hover {
							text-decoration: underline;
						}
					}
					.footer__form {
						display: flex;
						width: 100%;
						input {
							width: 70%;
							padding: 15px;
							background: 0;
							border: 1px solid rgba($color: #fff, $alpha: 0.5);
						}
						input::placeholder {
							font-family: 'Roboto', sans-serif;
							font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
							font-weight: 300;
							letter-spacing: 0.05em;
							color: rgba($color: #fff, $alpha: 0.75);
						}
						input:hover, input:focus {
							border: 1px solid #fff;
						}
						button {
							width: 30%;
							padding: 10px 22px;
							background: rgba($color: #fff, $alpha: 0.5);
						}
						button:hover {
							background: #fff;
						}
					}
					.footer__contacts {
						display: flex;
						margin: 20px 0 0 0;
						a {
							display: flex;
							justify-content: center;
							align-items: center;
							margin: 0 4px;
							padding: 10px;
							opacity: 0.5;
							border-radius: 50%;
							border: 1px solid #fff;
							img {
								width: 16px;
								height: 16px;
								object-fit: none;
							}
						}
						a:hover {
							opacity: 1;
						}
					}
				}
			}
		}
		.footer__bottom {
			display: flex;
			justify-content: space-between;
			margin: calc(20px + (50 - 20) * ((100vw - 320px) / (2560 - 320))) 0 0 0;
			.footer__links {
				a {
					margin: 0 calc(10px + (30 - 10) * ((100vw - 320px) / (2560 - 320))) 0 0;
					font-family: 'Roboto', sans-serif;
					font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
					line-height: 1.85em;
					font-weight: 400;
					letter-spacing: 0.025em;
					text-transform: uppercase;
					color: #fff;
				}
			}
			.footer__copyright {
				p {
					font-family: 'Roboto', sans-serif;
					font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
					line-height: 1.85em;
					font-weight: 400;
					letter-spacing: 0.025em;
					color: #fff;
				}
			}
		}
	}
}
/* OTHER ================================================================================== */
.anchor {
	display: block;
	width: 0;
	height: 0;
	pointer-events: none;
	transform: translateY(-100px);
}
.mainBTN {
	padding: 12px 30px;
	font-family: 'Hammersmith One';
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #00e0d0;
	border: 1px solid #00e0d0;
}
.mainBTN:hover {
	color: #000;
	background: #00e0d0;
}
// ::-webkit-scrollbar {
// 	width: 6px;
// 	background: #fff;
// }
// ::-webkit-scrollbar-thumb {
// 	border-radius: 10px;
// 	background: rgba($color: #43a9ff, $alpha: 0.5);
// }
// ::-webkit-scrollbar-thumb:hover {
// 	background: rgba($color: #43a9ff, $alpha: 1);
// }
button, input, textarea, span {
	transition: 0.3s;
}
img {
	object-fit: cover;
}
a {
	display: inline-block;
	transition: 0.3s;
}
body {
	width: 100%;
	overflow-x: hidden;
}
/* OTHER */
@media (max-width: 768px) {
	.header {
		justify-content: center;
		height: 50px;
		.header__logo {
			img {
				height: 40px;
			}
		}
		.header__menu {
			display: none;
		}
		.header__menu-burger {
			position: fixed;
			top: 0;
			right: 10px;
			display: inline-block;
			width: 50px;
			height: 50px;
			cursor: pointer;
			span {
				position: absolute;
				top: 24px;
				left: 10px;
				width: 30px;
				height: 2px;
				background: linear-gradient(90.0deg, #00e0d0 0%, #4aa3cc 100%);
			}
		}
		.header__menu-burger:before {
			content: '';
			position: absolute;
			top: 10px;
			left: 10px;
			width: 30px;
			height: 2px;
			transition: 0.3s;
			background: linear-gradient(90.0deg, #00e0d0 0%, #4aa3cc 100%);
		}
		.header__menu-burger:after {
			content: '';
			position: absolute;
			bottom: 10px;
			left: 10px;
			width: 30px;
			height: 2px;
			transition: 0.3s;
			background: linear-gradient(90.0deg, #00e0d0 0%, #4aa3cc 100%);
		}
	}
	body.open {
		overflow: hidden;
		.header {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			height: 100%;
			padding: 120px 0;
			overflow-y: scroll;
			background: linear-gradient(to left, #311f57, #0f0b2f);
			.header__menu {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 20px 0 0 0;
				a {
					margin: 5px 0;
					padding: 10px 15px;
				}
			}
			.header__menu-burger {
				span {
					display: none;
				}
			}
			.header__menu-burger:before {
				transform: rotate(45deg);
				top: 24px;
			}
			.header__menu-burger:after {
				transform: rotate(-45deg);
				bottom: 24px;
			}
		}
	}
	.second {
		.second__item {
			align-items: center;
			flex: 0 1 100%;
			text-align: center;
			.second__img {
				display: none;
			}
		}
		.second__item.img {
			display: none;
		}
	}
	.fourth {
		.fourth__items {
			.fourth__wrapper {
				flex: 0 1 50%;
			}
		}
	}
	.fifth {
		.fifth__wrapper {
			.fifth__items {
				.fifth__item-wrapper {
					flex: 0 1 50%;
				}
			}
		}
	}
	.sixth {
		.sixth__items {
			.sixth__wrapper {
				flex: 1 1 100%;
				min-width: 0;
			}
		}
	}
	.seventh {
		.seventh__wrapper {
			.seventh__mini-slider {
				.seventh__button-prev:after, .seventh__button-next:after {
					color: rgba($color: #fff, $alpha: 1);
				}
			}
		}
	}
	.eighth {
		flex-wrap: wrap;
		.eighth__left {
			flex: 0 1 100%;
			padding: 0;
		}
		.eighth__right {
			flex: 0 1 100%;
			margin: 20px 0 0 0;
			padding: 0;
			.eighth__text {
				margin: 0;
			}
			.eighth__companies {
				.eighth__company {
					flex: 0 1 50%;
				}
			}
		}
	}
	.footer {
		background: url(../img/background5.jpg) no-repeat;
		background-size: cover;
		background-position: center;
		.footer__wrapper {
			padding: calc(20px + (70 - 20) * ((100vw - 320px) / (2560 - 320))) calc(10px + (330 - 10) * ((100vw - 320px) / (2560 - 320)));
			background: linear-gradient(to left,  rgba($color: #311f57, $alpha: 0.85), rgba($color: #0f0b2f, $alpha: 0.85));
			.footer__items {
				display: flex;
				flex-wrap: wrap;
				.footer__item-wrapper {
					flex: 1 1 100%;
					.footer__item {
						display: flex;
						flex-direction: column;
						padding: 10px 0;
						.footer__contacts {
							justify-content: center;
						}
					}
				}
			}
			.footer__bottom {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				.footer__links {
					margin: 0 0 10px 0;
					a {
						margin: 0;
						padding: 5px 8px;
					}
				}
			}
		}
	}
}
@media (max-width: 425px) {
	.sixth {
		.sixth__text {
			flex-direction: column;
			align-items: center;
			text-align: center;
			p {
				margin: 0 0 10px 0;
			}
			a {
				padding: 10px;
			}
		}
	}
}
@media (max-width: 320px) {
	
}